<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}
    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width" />  
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    
    <header>
        <p>
            <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
            <a href="/cart">Check out</a>
        </p>
        
        <h1><a href="/">{{ shop.name }}</a></h1>
        
        <nav>
            <ul>
                {% for link in linklists.main-menu.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    {% if template == 'list-collections' %}
    {% include 'collection-listing' %}
    {% else %}
    {{ content_for_layout }}
    {% endif %}
    
    {{ 'shop.js'  | asset_url | script_tag }}

</body>
</html>